<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

       <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
              <property name="location" value="classpath:application.properties" />
       </bean>

       <bean id="springAppDataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
              <property name="driverClassName" value="${db.driver}" />
              <property name="url" value="${db.url}" />
              <property name="username" value="${db.user}" />
              <property name="password" value="${db.password}" />
       </bean>

       <bean id="mysqlSchemaDataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
              <property name="driverClassName" value="${db.driver}" />
              <property name="url" value="${db.url2}" />
              <property name="username" value="${db.user}" />
              <property name="password" value="${db.password}" />
       </bean>

       <bean id="multipleDataSource" class="org.lyndon.config.MultipleDataSource">
              <property name="defaultTargetDataSource" ref="springAppDataSource" />
              <property name="targetDataSources">
                     <map>
                            <entry key="springAppDataSource" value-ref="springAppDataSource" />
                            <entry key="mysqlSchemaDataSource" value-ref="mysqlSchemaDataSource" />
                     </map>
              </property>
       </bean>

       <bean id="hibernatePersistenceProvider" class="org.hibernate.jpa.HibernatePersistenceProvider" />

       <bean id="localContainerEntityManagerFactoryBean" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
              <property name="dataSource" ref="multipleDataSource" />
              <property name="persistenceProvider" ref="hibernatePersistenceProvider" />
              <property name="packagesToScan" value="org.lyndon.entity1,org.lyndon.entity2" />
              <property name="jpaProperties">
                     <props>
                            <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                            <prop key="hibernate.show.sql">${hibernate.show.sql}</prop>
                     </props>
              </property>
       </bean>

       <tx:annotation-driven transaction-manager="txManager" />

       <bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager" />

       <aop:aspectj-autoproxy />

</beans>